@charset "UTF-8";
/* line 1, ../scss/_global.scss */
* {
  box-sizing: border-box;
}

/* line 5, ../scss/_global.scss */
a {
  color: #FF9D2B;
}

/* line 9, ../scss/_global.scss */
.noScroll {
  overflow: hidden;
}

/* line 1, ../scss/_t.scss */
.t-title, .t-title--20b, .t-title--30b, .t-title--40l, .t-title--60b {
  font-family: "Work Sans", Helvetica, sans-serif;
  letter-spacing: 0.03em;
  line-height: 1.3;
}
/* line 6, ../scss/_t.scss */
.t-title--20b {
  font-weight: 700;
  font-size: 18px;
}
@media all and (min-width: 768px) {
  /* line 6, ../scss/_t.scss */
  .t-title--20b {
    font-size: 20px;
  }
}
/* line 16, ../scss/_t.scss */
.t-title--30b {
  font-weight: 700;
  font-size: 24px;
}
@media all and (min-width: 768px) {
  /* line 16, ../scss/_t.scss */
  .t-title--30b {
    font-size: 30px;
  }
}
/* line 26, ../scss/_t.scss */
.t-title--40l {
  font-weight: 300;
  font-size: 30px;
}
@media all and (min-width: 768px) {
  /* line 26, ../scss/_t.scss */
  .t-title--40l {
    font-size: 40px;
  }
}
/* line 36, ../scss/_t.scss */
.t-title--60b {
  font-weight: 700;
  font-size: 40px;
}
@media all and (min-width: 768px) {
  /* line 36, ../scss/_t.scss */
  .t-title--60b {
    font-size: 60px;
  }
}

/* line 47, ../scss/_t.scss */
.t-body, .t-body--14l, .t-body--18l, .t-body--24sb {
  font-family: "Open Sans", Helvetica, sans-serif;
  letter-spacing: 0.03em;
  line-height: 1.5;
}
/* line 52, ../scss/_t.scss */
.t-body--14l {
  font-weight: 300;
  font-size: 14px;
}
/* line 58, ../scss/_t.scss */
.t-body--18l {
  font-weight: 300;
  font-size: 16px;
}
@media all and (min-width: 768px) {
  /* line 58, ../scss/_t.scss */
  .t-body--18l {
    font-size: 18px;
  }
}
/* line 68, ../scss/_t.scss */
.t-body--24sb {
  font-weight: 600;
  font-size: 20px;
}
@media all and (min-width: 768px) {
  /* line 68, ../scss/_t.scss */
  .t-body--24sb {
    font-size: 24px;
  }
}

/* line 79, ../scss/_t.scss */
.t-caps {
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

/* line 1, ../scss/_btn.scss */
.btn, .btn--primary, .btn--secondary {
  display: block;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  border-width: 1px;
  border-style: solid;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 0.25s;
}
/* line 13, ../scss/_btn.scss */
.btn:hover, .btn--primary:hover, .btn--secondary:hover {
  cursor: pointer;
}
/* line 17, ../scss/_btn.scss */
.btn--primary {
  border-color: #FF9D2B;
  background: #FF9D2B;
  color: white;
}
/* line 24, ../scss/_btn.scss */
.btn--primary:hover {
  border-color: #ed7f00;
  background: #ed7f00;
}
/* line 30, ../scss/_btn.scss */
.btn--secondary {
  border-color: #FF9D2B;
  background: white;
  color: #FF9D2B;
}
/* line 37, ../scss/_btn.scss */
.btn--secondary:hover {
  background: #FF9D2B;
  color: white;
}

/* line 1, ../scss/_header.scss */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYmNkZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzEwZDU2MyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #00bcde), color-stop(100%, #10d563));
  background-image: -moz-linear-gradient(left, #00bcde, #10d563);
  background-image: -webkit-linear-gradient(left, #00bcde, #10d563);
  background-image: linear-gradient(to right, #00bcde, #10d563);
  padding: 10px;
  z-index: 9999;
}

/* line 15, ../scss/_header.scss */
.header_name {
  text-decoration: none;
  color: white;
}

/* line 5, ../scss/_nav.scss */
.nav_toggle {
  outline: none;
  border: none;
  background: none;
  padding: 0;
  color: white;
  font-size: 30px;
  text-align: right;
  line-height: 0;
}
/* line 16, ../scss/_nav.scss */
.nav_toggle:hover {
  cursor: pointer;
}

/* line 21, ../scss/_nav.scss */
.nav_toggleText {
  font-size: 0px;
}

/* line 25, ../scss/_nav.scss */
.nav_listWrapper {
  display: none;
}

/* line 29, ../scss/_nav.scss */
.nav_list {
  position: fixed;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuMCIgeDI9IjEuMCIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYmNkZSIgc3RvcC1vcGFjaXR5PSIwLjgiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMGQ1NjMiIHN0b3Atb3BhY2l0eT0iMC44Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, rgba(0, 188, 222, 0.8)), color-stop(100%, rgba(16, 213, 99, 0.8)));
  background-image: -moz-linear-gradient(top, rgba(0, 188, 222, 0.8), rgba(16, 213, 99, 0.8));
  background-image: -webkit-linear-gradient(top, rgba(0, 188, 222, 0.8), rgba(16, 213, 99, 0.8));
  background-image: linear-gradient(to bottom right, rgba(0, 188, 222, 0.8), rgba(16, 213, 99, 0.8));
  padding: 20px;
}
@media all and (min-width: 768px) {
  /* line 29, ../scss/_nav.scss */
  .nav_list {
    padding: 40px;
  }
}

/* line 48, ../scss/_nav.scss */
.nav_listItem {
  list-style-type: none;
}

/* line 52, ../scss/_nav.scss */
.nav_link {
  font-weight: 300;
  font-size: 80px;
  line-height: 1.0;
  font-family: "Work Sans", Helvetica, sans-serif;
  letter-spacing: 0.03em;
  color: white;
  text-decoration: none;
}
@media all and (min-width: 768px) {
  /* line 52, ../scss/_nav.scss */
  .nav_link {
    font-size: 100px;
  }
}
@media all and (min-width: 768px) {
  /* line 65, ../scss/_nav.scss */
  .nav_link:before, .nav_link:after {
    opacity: 0;
    transition: opacity 0.25s;
  }
}
@media all and (min-width: 768px) {
  /* line 73, ../scss/_nav.scss */
  .nav_link:before {
    content: '< ';
  }
}
@media all and (min-width: 768px) {
  /* line 79, ../scss/_nav.scss */
  .nav_link:after {
    content: ' >';
  }
}
/* line 86, ../scss/_nav.scss */
.nav_link:hover:before, .nav_link:hover:after {
  opacity: 1;
}

/* line 1, ../scss/_intro.scss */
.intro {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuMCIgeDI9IjEuMCIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYmNkZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzEwZDU2MyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #00bcde), color-stop(100%, #10d563));
  background-image: -moz-linear-gradient(top, #00bcde, #10d563);
  background-image: -webkit-linear-gradient(top, #00bcde, #10d563);
  background-image: linear-gradient(to bottom right, #00bcde, #10d563);
  padding: 70px 20px 20px 20px;
  text-align: center;
}
@media all and (min-width: 768px) {
  /* line 1, ../scss/_intro.scss */
  .intro {
    padding: 90px 40px 40px 40px;
  }
}

/* line 15, ../scss/_intro.scss */
.intro_image {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  object-fit: cover;
  object-position: center;
}

/* line 23, ../scss/_intro.scss */
.intro_headline {
  color: white;
}

/* line 27, ../scss/_intro.scss */
.intro_techList {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 37, ../scss/_intro.scss */
.intro_techListItem {
  -webkit-flex-basis: calc(100% / 3);
  flex-basis: calc(100% / 3);
  text-align: center;
  opacity: 0.75;
}
@media all and (min-width: 768px) {
  /* line 37, ../scss/_intro.scss */
  .intro_techListItem {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
}
@media all and (min-width: 768px) {
  /* line 47, ../scss/_intro.scss */
  .intro_techListItem + .intro_techListItem {
    margin-left: 40px;
  }
}

/* line 54, ../scss/_intro.scss */
.intro_techIcon {
  font-size: 30px;
  color: white;
}

/* line 59, ../scss/_intro.scss */
.intro_techName {
  color: white;
}

/* line 1, ../scss/_work.scss */
.work {
  padding: 20px;
}
@media all and (min-width: 768px) {
  /* line 1, ../scss/_work.scss */
  .work {
    padding: 40px;
  }
}

/* line 9, ../scss/_work.scss */
.work_sectionTitle {
  margin: 0;
  text-align: center;
  color: #707070;
}

/* line 16, ../scss/_work.scss */
.work_sectionTitle + .work_projectList {
  margin-top: 20px;
}
@media all and (min-width: 768px) {
  /* line 16, ../scss/_work.scss */
  .work_sectionTitle + .work_projectList {
    margin-top: 40px;
  }
}

/* line 24, ../scss/_work.scss */
.work_projectList {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media all and (min-width: 768px) {
  /* line 24, ../scss/_work.scss */
  .work_projectList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
  }
}
@media all and (min-width: 1024px) {
  /* line 24, ../scss/_work.scss */
  .work_projectList {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* line 41, ../scss/_work.scss */
.work_projectListItem {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  position: relative;
  background: white;
  padding: 30px;
}
@media all and (min-width: 768px) {
  /* line 41, ../scss/_work.scss */
  .work_projectListItem {
    padding: 40px;
  }
}
/* line 53, ../scss/_work.scss */
.work_projectListItem:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% + 5px);
  height: calc(100% + 5px);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuMCIgeDI9IjEuMCIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYmNkZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzEwZDU2MyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #00bcde), color-stop(100%, #10d563));
  background-image: -moz-linear-gradient(top, #00bcde, #10d563);
  background-image: -webkit-linear-gradient(top, #00bcde, #10d563);
  background-image: linear-gradient(to bottom right, #00bcde, #10d563);
  transform: translate(-5px, -5px);
  transition: transform 0.5s;
  z-index: -1;
}
/* line 68, ../scss/_work.scss */
.work_projectListItem + .work_projectListItem {
  margin-top: 30px;
}
@media all and (min-width: 768px) {
  /* line 68, ../scss/_work.scss */
  .work_projectListItem + .work_projectListItem {
    margin-top: 0;
  }
}
@media all and (min-width: 1024px) {
  /* line 68, ../scss/_work.scss */
  .work_projectListItem + .work_projectListItem {
    margin-left: 40px;
  }
}

/* line 82, ../scss/_work.scss */
.work_projectTitle {
  margin: 0;
  color: #707070;
}

/* line 88, ../scss/_work.scss */
.work_projectTeaser {
  color: #707070;
}

/* line 92, ../scss/_work.scss */
.work_projectTitle + .work_projectBtn,
.work_projectTeaser + .work_projectBtn {
  margin-top: 20px;
}

/* line 1, ../scss/_about.scss */
.about {
  background: #f0f0f0;
  padding: 20px;
}
@media all and (min-width: 768px) {
  /* line 1, ../scss/_about.scss */
  .about {
    padding: 40px;
  }
}

/* line 10, ../scss/_about.scss */
.about_sectionTitle {
  margin: 0;
  text-align: center;
  color: #707070;
}

/* line 17, ../scss/_about.scss */
.about_contentWrapper {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
}
@media all and (min-width: 768px) {
  /* line 17, ../scss/_about.scss */
  .about_contentWrapper {
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }
}
@media all and (min-width: 1024px) {
  /* line 17, ../scss/_about.scss */
  .about_contentWrapper {
    -webkit-align-items: center;
    align-items: center;
  }
}

@media all and (min-width: 1024px) {
  /* line 32, ../scss/_about.scss */
  .about_imageWrapper {
    padding: 40px;
  }
}

/* line 38, ../scss/_about.scss */
.about_image {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  object-fit: cover;
  object-position: center;
}
@media all and (min-width: 1024px) {
  /* line 38, ../scss/_about.scss */
  .about_image {
    width: 400px;
    height: 400px;
  }
}

/* line 51, ../scss/_about.scss */
.about_text {
  margin: 0;
  max-width: 500px;
  color: #707070;
}

/* line 58, ../scss/_about.scss */
.about_socialLink {
  color: #707070;
  font-size: 36px;
}
/* line 62, ../scss/_about.scss */
.about_socialLink + .about_socialLink {
  margin-left: 20px;
}

/* line 67, ../scss/_about.scss */
.about_text + .about_resumeBtn,
.about_resumeBtn + .about_socialLinks {
  margin-top: 20px;
}
@media all and (min-width: 768px) {
  /* line 67, ../scss/_about.scss */
  .about_text + .about_resumeBtn,
  .about_resumeBtn + .about_socialLinks {
    margin-top: 30px;
  }
}

/* line 76, ../scss/_about.scss */
.about_sectionTitle + .about_contentWrapper {
  margin-top: 20px;
}
@media all and (min-width: 768px) {
  /* line 76, ../scss/_about.scss */
  .about_sectionTitle + .about_contentWrapper {
    margin-top: 40px;
  }
}

/* line 84, ../scss/_about.scss */
.about_imageWrapper + .about_textWrapper {
  margin-top: 20px;
}
@media all and (min-width: 768px) {
  /* line 84, ../scss/_about.scss */
  .about_imageWrapper + .about_textWrapper {
    margin-top: 0;
    margin-left: 40px;
  }
}

/* line 1, ../scss/_contact.scss */
.contact {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  padding: 20px;
}
@media all and (min-width: 768px) {
  /* line 1, ../scss/_contact.scss */
  .contact {
    padding: 40px;
  }
}

/* line 12, ../scss/_contact.scss */
.contact_sectionTitle {
  margin: 0;
  color: #707070;
}

/* line 18, ../scss/_contact.scss */
.contact_instructions {
  margin: 0;
  color: #707070;
}

/* line 24, ../scss/_contact.scss */
.contactForm {
  width: 100%;
  max-width: 600px;
}
@media all and (min-width: 768px) {
  /* line 24, ../scss/_contact.scss */
  .contactForm {
    width: 50%;
  }
}

/* line 33, ../scss/_contact.scss */
.contactForm_inputWrapper {
  position: relative;
}
/* line 36, ../scss/_contact.scss */
.contactForm_inputWrapper + .contactForm_inputWrapper {
  margin-top: 30px;
}

/* line 41, ../scss/_contact.scss */
.contactForm_text,
.contactForm_textarea {
  position: relative;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: solid 1px #707070;
  background: transparent;
  z-index: 1;
  transition: border 0.1s;
}
/* line 54, ../scss/_contact.scss */
.contactForm_text:focus,
.contactForm_textarea:focus {
  border-bottom-color: #00BCDE;
}
/* line 58, ../scss/_contact.scss */
.contactForm_text:focus + .contactForm_label, .contactForm_text:valid + .contactForm_label,
.contactForm_textarea:focus + .contactForm_label,
.contactForm_textarea:valid + .contactForm_label {
  opacity: 0.5;
  font-size: 10px;
  transform: translateY(-10px);
}

/* line 66, ../scss/_contact.scss */
.contactForm_label {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  display: block;
  color: #707070;
  transition: 0.1s;
}

/* line 79, ../scss/_contact.scss */
.contactForm_submitBtn {
  display: block;
  margin: 0 auto;
}

/* line 84, ../scss/_contact.scss */
.contactForm_thanks {
  text-align: center;
}

/* line 88, ../scss/_contact.scss */
.contactForm_thanksStatus {
  margin: 0;
  color: #10D563;
}

/* line 94, ../scss/_contact.scss */
.contactForm_thanksMsg {
  margin: 0;
  color: #707070;
}

/* line 100, ../scss/_contact.scss */
.contactForm_thanksStatus + .contactForm_thanksMsg {
  margin-top: 20px;
}

/* line 104, ../scss/_contact.scss */
.contact_sectionTitle + .contact_instructions,
.contact_instructions + .contactForm,
.contactForm_inputWrapper + .contactForm_submitBtn,
.contact_sectionTitle + .contactForm_thanks {
  margin-top: 20px;
}
@media all and (min-width: 768px) {
  /* line 104, ../scss/_contact.scss */
  .contact_sectionTitle + .contact_instructions,
  .contact_instructions + .contactForm,
  .contactForm_inputWrapper + .contactForm_submitBtn,
  .contact_sectionTitle + .contactForm_thanks {
    margin-top: 40px;
  }
}

/* line 1, ../scss/_workDetail.scss */
.workDetail_intro {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuMCIgeDI9IjEuMCIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYmNkZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzEwZDU2MyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #00bcde), color-stop(100%, #10d563));
  background-image: -moz-linear-gradient(top, #00bcde, #10d563);
  background-image: -webkit-linear-gradient(top, #00bcde, #10d563);
  background-image: linear-gradient(to bottom right, #00bcde, #10d563);
  min-height: 80vh;
  padding-top: 50px;
}
@media all and (min-width: 1024px) {
  /* line 1, ../scss/_workDetail.scss */
  .workDetail_intro {
    display: -webkit-flex;
    display: flex;
  }
}

/* line 11, ../scss/_workDetail.scss */
.workDetail_introText {
  padding: 20px;
}
@media all and (min-width: 768px) {
  /* line 11, ../scss/_workDetail.scss */
  .workDetail_introText {
    padding: 40px;
  }
}
@media all and (min-width: 1024px) {
  /* line 11, ../scss/_workDetail.scss */
  .workDetail_introText {
    -webkit-flex: 1;
    flex: 1;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
  }
}

/* line 26, ../scss/_workDetail.scss */
.workDetail_techList {
  display: -webkit-flex;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* line 35, ../scss/_workDetail.scss */
.workDetail_techListItem + .workDetail_techListItem {
  margin-left: 20px;
}

/* line 40, ../scss/_workDetail.scss */
.workDetail_techIcon {
  color: white;
  font-size: 30px;
  opacity: 0.75;
}

/* line 46, ../scss/_workDetail.scss */
.workDetail_title {
  margin: 0;
  color: white;
}

/* line 52, ../scss/_workDetail.scss */
.workDetail_summary {
  margin: 0;
  color: white;
}

/* line 58, ../scss/_workDetail.scss */
.workDetail_techList + .workDetail_title,
.workDetail_title + .workDetail_summary {
  margin-top: 20px;
}

/* line 63, ../scss/_workDetail.scss */
.workDetail_dateCompany {
  color: white;
}

/* line 68, ../scss/_workDetail.scss */
.workDetail_date + .workDetail_company:before {
  content: '• ';
}

/* line 73, ../scss/_workDetail.scss */
.workDetail_introImageWrapper {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  padding: 0px 20px;
}
@media all and (min-width: 768px) {
  /* line 73, ../scss/_workDetail.scss */
  .workDetail_introImageWrapper {
    padding: 0px 40px;
  }
}
@media all and (min-width: 1024px) {
  /* line 73, ../scss/_workDetail.scss */
  .workDetail_introImageWrapper {
    -webkit-flex: 1;
    flex: 1;
    padding: 40px 40px 0px 0px;
  }
}

/* line 88, ../scss/_workDetail.scss */
.workDetail_introImage {
  width: 100%;
  object-fit: contain;
}

/* line 93, ../scss/_workDetail.scss */
.workDetail_roleSection {
  padding: 20px;
}
@media all and (min-width: 1024px) {
  /* line 93, ../scss/_workDetail.scss */
  .workDetail_roleSection {
    display: -webkit-flex;
    display: flex;
    padding: 40px;
  }
}

@media all and (min-width: 1024px) {
  /* line 102, ../scss/_workDetail.scss */
  .workDetail_roleContent {
    -webkit-flex: 1;
    flex: 1;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
  }
}

/* line 111, ../scss/_workDetail.scss */
.workDetail_roleHeader {
  margin: 0;
  border-bottom: solid 5px #00BCDE;
  border-image: linear-gradient(to right, #00bcde, #10d563) 30;
  padding-bottom: 20px;
  color: #707070;
}

/* line 120, ../scss/_workDetail.scss */
.workDetail_roleHeader + .workDetail_roleList {
  margin-top: 20px;
}

@media all and (min-width: 768px) {
  /* line 124, ../scss/_workDetail.scss */
  .workDetail_roleList {
    columns: 2;
  }
}
@media all and (min-width: 1024px) {
  /* line 124, ../scss/_workDetail.scss */
  .workDetail_roleList {
    columns: 1;
  }
}

/* line 134, ../scss/_workDetail.scss */
.workDetail_roleItem {
  color: #707070;
}
/* line 137, ../scss/_workDetail.scss */
.workDetail_roleItem + .workDetail_roleItem {
  margin-top: 10px;
}

/* line 142, ../scss/_workDetail.scss */
.workDetail_roleImageWrap {
  -webkit-flex: 2;
  flex: 2;
  display: -webkit-flex;
  display: flex;
  height: 100%;
}

@media all and (min-width: 1024px) {
  /* line 148, ../scss/_workDetail.scss */
  .workDetail_roleContent + .workDetail_roleImageWrap {
    margin-left: 40px;
  }
}

/* line 154, ../scss/_workDetail.scss */
.workDetail_slideshowWrapper {
  position: relative;
  -webkit-flex: 1;
  flex: 1;
  display: -webkit-flex;
  display: flex;
  height: 300px;
}
@media all and (min-width: 768px) {
  /* line 154, ../scss/_workDetail.scss */
  .workDetail_slideshowWrapper {
    height: 500px;
    padding: 0px 40px;
  }
}

/* line 166, ../scss/_workDetail.scss */
.workDetail_slideshow {
  position: relative;
  -webkit-flex: 1;
  flex: 1;
}

/* line 171, ../scss/_workDetail.scss */
.workDetail_slideshowItem {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 0;
  transition: opacity 0.5s;
  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.3)) drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.3));
}
/* line 187, ../scss/_workDetail.scss */
.workDetail_slideshowItem--active {
  opacity: 1;
}

/* line 192, ../scss/_workDetail.scss */
.workDetail_slideshowBtn {
  position: absolute;
  top: 50%;
  outline: none;
  border: none;
  background: none;
  padding: 0;
  font-size: 60px;
  color: #FF9D2B;
  transform: translateY(-50%);
}
/* line 205, ../scss/_workDetail.scss */
.workDetail_slideshowBtn:hover {
  cursor: pointer;
}
/* line 209, ../scss/_workDetail.scss */
.workDetail_slideshowBtn--prev {
  left: 0;
}
/* line 213, ../scss/_workDetail.scss */
.workDetail_slideshowBtn--next {
  right: 0;
}

/* line 218, ../scss/_workDetail.scss */
.workDetail_slideshowBtnText {
  display: none;
}

/* line 222, ../scss/_workDetail.scss */
.workDetail_codeSection {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  background: #f0f0f0;
  padding: 40px;
}

/* line 230, ../scss/_workDetail.scss */
.workDetail_codeHeader {
  margin: 0;
  border-right: solid 5px #00BCDE;
  border-image: linear-gradient(to right, #00bcde, #10d563) 30;
  padding-right: 20px;
  color: #707070;
}

/* line 239, ../scss/_workDetail.scss */
.workDetail_codeText {
  color: #707070;
}

/* line 243, ../scss/_workDetail.scss */
.workDetail_codeHeader + .workDetail_codeText {
  margin-left: 40px;
}

/* line 247, ../scss/_workDetail.scss */
.workDetail_backLinkWrap {
  padding: 0px 20px 20px 20px;
  text-align: center;
}
@media all and (min-width: 768px) {
  /* line 247, ../scss/_workDetail.scss */
  .workDetail_backLinkWrap {
    padding: 0px 40px 40px 40px;
  }
}

/* line 257, ../scss/_workDetail.scss */
.workDetail_backLink {
  color: #707070;
  text-decoration: none;
}
/* line 261, ../scss/_workDetail.scss */
.workDetail_backLink:hover {
  text-decoration: underline;
}

/* line 1, ../scss/_footer.scss */
.footer {
  padding: 5px;
  text-align: center;
}
