.about {
  background: $ltGray;
  padding: 40px;
}

  .about_sectionTitle {
    text-align: center;
    color: $gray;
  }

  .about_contentWrapper {
    @include display-flex;
    @include align-items(center);
  }

    .about_imageWrapper {
      padding: 40px;
    }

    .about_image {
      @include border-radius(50%);
      width: 400px;
      height: 400px;
      object-fit: cover;
      object-position: center;
    }

    .about_text {
      margin: 0;

      max-width: 500px;
      color: $gray;
    }

    .about_socialLink {
      color: $gray;
      font-size: 36px;

      & + & {
        margin-left: 20px;
      }
    }

    .about_text + .about_resumeBtn,
    .about_resumeBtn + .about_socialLinks {
      margin-top: 30px;
    }

    .about_imageWrapper + .about_textWrapper {
      margin-left: 40px;
    }