.intro {
  @include display-flex;
  @include align-items(center);
  @include flex-direction(column);
  @include background-image(linear-gradient(to bottom right, $gradientStart, $gradientEnd));
  padding: 20px + $navHt 20px 20px 20px;

  text-align: center;

  @include tablet {
    padding: 40px + $navHt 40px 40px 40px;
  }
}

  .intro_image {
    @include border-radius(50%);
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: center;
  }

  .intro_headline {
    max-width: 1000px;
    color: white;
  }

  .intro_techList {
    @include display-flex;
    @include flex-wrap(wrap);
    @include justify-content(space-between);
    margin: 0;
    padding: 0;

    list-style: none;
  }

    .intro_techListItem {
      @include flex-basis(calc(100% / 3));
      text-align: center;

      @include tablet {
        @include flex-basis(auto);
      }

      & + & {
        @include tablet {
          margin-left: 40px;
        }
      }
    }

      .intro_techIcon {
        font-size: 30px;
        color: white;

        opacity: 0.75;
      }

      .intro_techName {
        color: white;
      }
