.intro {
  @include background-image(linear-gradient(to bottom right, $gradientStart, $gradientEnd));

  text-align: center;
}

  .intro_headline {
    color: white;
  }

  .intro_techList {
    @include display-flex;
    margin: 0;
    padding: 0;

    list-style: none;
  }

    .intro_techListItem {
      text-align: center;

      opacity: 0.75;

      & + & {
        margin-left: 40px;
      }
    }

      .intro_techIcon {
        color: white;
      }

      .intro_techName {
        color: white;
      }
