// INTRO
.workDetail_introSection {
  @include background-image(linear-gradient(to bottom right, $gradientStart, $gradientEnd));
  @include display-flex;
  @include justify-content(center);
  padding-top: $navHt;
}

  .workDetail_intro {
    @include flex(1);
    padding: 20px;

    text-align: center;

    @include tablet {
      padding: 40px;
    }
  }

    .workDetail_techList {
      @include display-flex;
      @include justify-content(center);
      margin: 0;
      padding: 0;

      list-style-type: none;
    }

      .workDetail_techListItem {
        & + & {
          margin-left: 40px;
        }
      }

      .workDetail_techIcon {
        color: white;
        font-size: 30px;
        opacity: 0.75;
      }

    .workDetail_title {
      margin: 0;

      color: white;
    }

    .workDetail_dateCompany {
      color: white;
    }

      .workDetail_date + .workDetail_company {
        &:before {
          content: '• ';
        }
      }

// CHALLENGE / SOLUTION
.workDetail_challengeSection {
  padding: 20px;

  @include tablet {
    @include display-flex;
    @include justify-content(center);
    padding: 60px;
  }

  @include largedesktop {
    padding: 80px;
  }
}

  .workDetail_challengeCol {
    &--results {
      &:before {
        content: '';
        display: block;
        margin: -25px;
        @include background-image(linear-gradient(to left, $gradientStart, $gradientEnd));
        height: 5px;
        margin-bottom: 20px;
      }
    }
  }

    .workDetail_challengeTextBlock {
      color: $gray;

      & + & {
        margin-top: 20px;

        @include tablet {
          margin-top: 40px;
        }
      }
    }

      .workDetail_challengeBlockTitle,
      .workDetail_challengeBlockBody {
        margin: 0;
      }

    .workDetail_liveGitWrapper {
      @include display-flex;
      @include align-items(center);
    }

      .workDetail_githubLink {
        color: $gray;
        font-size: 30px;
      }    

// SLIDESHOW
.workDetail_slideshowSection {
  padding: 0px 40px;

  @include tablet {
    padding: 0px 40px;
  }

  @include largedesktop {
    padding: 0px 80px;
  }
}

  .workDetail_slideshowOuterWrapper {
    @include display-flex;
    height: 100%;
  }

    .workDetail_slideshowWrapper {
      position: relative;
      @include flex(1);
      @include display-flex;
      height: 300px;

      @include tablet {
        height: 500px;
        padding: 0px 40px;
      }

      @include largedesktop {
        height: 700px;
      }
    }

      .workDetail_slideshow {
        position: relative;
        @include flex(1);
      }

        .workDetail_slideshowItem {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: contain;

          opacity: 0;
          transition: opacity 0.5s;

          filter: drop-shadow(0px 0px 1px rgba(0,0,0,.3))
              drop-shadow(0px 0px 5px rgba(0,0,0,.3));

          &--active {
            opacity: 1;
          }
        }

      .workDetail_slideshowBtn {
        position: absolute;
        top: 50%;
        outline: none;
        border: none;
        background: none;
        padding: 0;
        
        font-size: 60px;
        color: $cta;

        transform: translateY(-50%);

        &:hover {
          cursor: pointer;
        }

        &--prev {
          left: 0;
        }

        &--next {
          right: 0;
        }
      }

        .workDetail_slideshowBtnText {
          display: none;
        }

// MY ROLE
.workDetail_roleSection {
  padding: 20px;

  @include tablet {
    @include display-flex;
    padding: 40px;
  }

  @include largedesktop {
    padding: 80px;
  }
}

  .workDetail_roleContent {
    @include tablet {
      @include flex(1);
    }
  }

    .workDetail_roleHeader {
      margin: 0;
      padding-bottom: 10px;

      color: $gray;

      @include tablet {
        padding-bottom: 20px;
      }

      &:after {
        content: '';
        display: block;
        margin-top: 10px;
        @include background-image(linear-gradient(to bottom right, $gradientStart, $gradientEnd));
        height: 5px;

        @include tablet {
          margin-top: 20px;
        }
      }
    }

    .workDetail_roleItem {
      color: $gray;

      & + & {
        margin-top: 10px;
      }
    }

      .workDetail_subRoleList {
        padding-left: 20px;
      }

        .workDetail_subRoleListItem {
          margin-top: 5px;
        }

    .workDetail_roleImageWrap {
      @include tablet {
        @include flex(1);
      }
    }

      .workDetail_roleImage {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

.workDetail_testimonialSection {
  @include display-flex;
  @include justify-content(center);
  background: $ltGray;
  padding: 20px;

  @include tablet {
    padding: 40px;
  }
}

  .workDetail_testimonial {
    margin: 0;

    @include largedesktop {
      max-width: 60%;
    }
  }

// BACK LINK
.workDetail_backLinkWrap {
  @include display-flex;
  @include justify-content(center);
}

// spacing
.workDetail_techList + .workDetail_title,
.workDetail_challengeBlockTitle + .workDetail_challengeBlockBody,
.workDetail_challengeTextBlock + .workDetail_liveGitWrapper,
.workDetail_challengeSection + .workDetail_slideshowSection,
.workDetail_roleHeader + .workDetail_roleList,
.workDetail_testimonialSrc,
.workDetail_backLinkWrap {
  margin-top: 20px;
}

.workDetail_challengeCol + .workDetail_challengeCol,
.workDetail_roleContent + .workDetail_roleImageWrap {
  margin-top: 20px;

  @include tablet {
    margin-top: 0;
    margin-left: 40px;
  }
}

.workDetail_liveBtn + .workDetail_githubLink {
  margin-left: 20px;
}