.workDetail_intro {
  @include display-flex;
  @include background-image(linear-gradient(to bottom right, $gradientStart, $gradientEnd));
  min-height: 80vh;
  padding-top: $navHt;
}

  .workDetail_introText {
    @include flex(1);
    @include display-flex;
    @include flex-direction(column);
    @include justify-content(center);
    padding: 40px;
  }

    .workDetail_title {
      margin: 0;

      color: white;
    }

    .workDetail_summary {
      margin: 0;

      color: white;
    }

    .workDetail_title + .workDetail_summary {
      margin-top: 20px;
    }

    .workDetail_dateCompany {
      color: white;
    }

      .workDetail_date + .workDetail_company {
        &:before {
          content: '• ';
        }
      }

  .workDetail_introImageWrapper {
    @include flex(1);
    @include display-flex;
    @include align-items(flex-end);
    padding-top: 40px;
    padding-right: 40px;
  }

    .workDetail_introImage {
      width: 100%;
      object-fit: contain;
    }

.workDetail_roleSection {
  @include display-flex;
  padding: 40px;
}

  .workDetail_roleContent {
    @include flex(1);
    @include display-flex;
    @include flex-direction(column);
    @include justify-content(center);
  }

    .workDetail_roleHeader {
      margin: 0;
      border-bottom: solid 5px $gradientStart;
      border-image: linear-gradient(to right, $gradientStart, $gradientEnd) 30;
      padding-bottom: 20px;

      color: $gray;
    }

    .workDetail_roleHeader + .workDetail_roleList {
      margin-top: 20px;
    }

    .workDetail_roleItem {
      color: $gray;

      & + & {
        margin-top: 10px;
      }
    }

  .workDetail_roleImageWrap {
    @include flex(2);
    @include display-flex;
    height: 100%;
  }

  .workDetail_roleContent + .workDetail_roleImageWrap {
    margin-left: 40px;
  }

.workDetail_slideshowWrapper {
  position: relative;
  @include flex(1);
  @include display-flex;
  height: 500px;
  padding: 0px 40px;
}

  .workDetail_slideshow {
    position: relative;
    @include flex(1);
  }

    .workDetail_slideshowItem {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;

      opacity: 0;
      transition: opacity 0.5s;

      &--active {
        opacity: 1;
      }
    }

  .workDetail_slideshowBtn {
    position: absolute;
    top: 50%;
    outline: none;
    border: none;
    background: none;
    padding: 0;
    
    font-size: 90px;
    color: $cta;

    transform: translateY(-50%);

    &--prev {
      left: 0;
    }

    &--next {
      right: 0;
    }
  }

    .workDetail_slideshowBtnText {
      display: none;
    }

.workDetail_codeSection {
  @include display-flex;
  @include align-items(center);
  @include justify-content(center);
  background: $ltGray;
  padding: 40px;
}

  .workDetail_codeHeader {
    margin: 0;
    border-right: solid 5px $gradientStart;
    border-image: linear-gradient(to right, $gradientStart, $gradientEnd) 30;
    padding-right: 20px;
    
    color: $gray;
  }

  .workDetail_codeText {
    color: $gray;
  }

  .workDetail_codeHeader + .workDetail_codeText {
    margin-left: 40px;
  }

.workDetail_backLinkWrap {
  padding: 0px 40px 40px 40px;

  text-align: center;
}

.workDetail_backLink {
  color: $gray;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}